@keyframes suspention {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes open {
    100% {
        transform: rotate(35deg);
    }
}

@keyframes fadeout {
    100% {
        opacity: 0;
    }
}

@keyframes jump {
    100% {
        transform: translatey(-250px);
    }
}

/* 背景 */
html {
    background: url("../img/sougen.jpg") fixed center no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
}
/* 画像保存防止用の要素 */
.cover {
    background-color: aqua;
    opacity: 0;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
}
/* ガチャの親タグ・ボールの横揺れ演出 */
.suspention {
    transform-origin: center bottom;
    animation-name: suspention;
    animation-delay: 0.8s;
    animation-duration: 0.5s;
    animation-iteration-count: 2;

    z-index: 100;
    width: 600px;
    height: 600px;
    /* border: 1px solid; */
    position: absolute;
    top: 170px;
    left: 400px;  
}
/* ボールの位置 */
.position {
    z-index: 100;
    position:absolute;
    top: 0px;
    left: 0px;
}
/* 白の上弦の設定 */
.top,.top11{
    transform-origin: 800px 300px;
    animation:  open 0.6s forwards 2.5s cubic-bezier(0.135, 0.355, 0.630, 1.000), 
                fadeout 1s forwards 2.5s cubic-bezier(0.135, 0.355, 0.630, 1.000);
}
.top{
    opacity: 0.5;
}

/* キャラクターの位置・演出 */
.girl {
    animation: jump 0.6s forwards 2.5s cubic-bezier(0.135, 0.355, 0.630, 1.000);
    zoom:0.95;
    z-index: 0;
    position:absolute;
    top: 130px;
    left: 100px;
}